<p id="notice"><%= notice %></p>
<h1><%= @user.name %>さんのポイント</h1>
<p><%= @user.point %></p>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h2>Users</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Point</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.point %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <%= form_with url: transfer_path(@user.id, user.id) do |f| %>
            <%= f.number_field :transfer_point, class: 'form-control my-2', placeholder: "送信ポイント", min:0, max:200 %>
            <%= submit_tag "送信", class: 'btn btn-dark my-2' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
